<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Transforming Injury Risk Management</h2>
                <hr class="light">
                <p class="text-faded">Professional athletes earn $17 billion annually across MLB, NHL, NBA, and Tier 1 international soccer leagues. We have developed proprietary risk models that accurately forecast the risk of injury to players. Our mission is to use these risk models to protect teams from the financial loss caused by player injury.</p>
            </div>
        </div>
    </div>
</section>
